.container-narrow
{
	padding:0px 20px;
}

.facebook_area {
    text-align: center;
}

.facebook {
    background-image: url("/img/FbButton.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px -18px;  /* equivalent to 'top left' */
    background-size: 215px Auto;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 43px;           /* make this the size of your image */
    padding-left: 215px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
