@{
    ViewBag.Title = "Crossfit Products";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h1>@ViewBag.Title</h1>
 <hr>
      <div class="row-fluid">
        <div class="span12 filter">
          <span class="sort">sort by:</span>
          <div class="filter">
           <ul class="nav nav-pills">
             <li class="active">
               <a href="#" onclick="filter-ending-soon">Ending Soon</a>
             </li>
             <li><a href="#" onclick="filter-price">Price</a></li>
             <li><a href="#" onclick="filter-popular">Popular</a></li>
           </ul>
          </div>

          <span class="filter-pagination">pagination here</span>

      </div>
      <hr>

      <div class="row-fluid">
        <div class="span12 productlisting">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/180x80.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Insert name of product</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
            </div>
          </div>
            <div class="metadata">
              <div class="sidebar-product-price">
                <span class="product-price">
                  $35.33
                </span>
                <span class="priceblock-line-through">
                  $99.99
                </span>
              </div>
              <button class="btn btn-medium btn-info">Details &raquo;</button>   
              <span class="list-ending-in">1 day, 3 hours, 4 min</span>
           
            </div>
                  
        </div><!--prod listing block-->
      
      </div><!--row fluid-->

      <div class="row-fluid">
        <div class="span12 productlisting">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/180x80.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Insert name of product</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
            </div>
          </div>
            <div class="metadata">
              <button class="btn btn-medium btn-info">View Details &raquo;</button>

              <div class="sidebar-product-price">
                <span class="product-price">
                  $35.33
                </span>
                <span class="priceblock-line-through">
                  $99.99
                </span>
                </div>
              <span class="list-ending-in">1 day, 3 hours, 4 min</span>
            </div>
                  
        </div><!--prod listing block-->
      
      </div><!--row fluid-->      <div class="row-fluid">
        <div class="span12 productlisting">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/180x80.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Insert name of product</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
            </div>
          </div>
            <div class="metadata">
              <button class="btn btn-medium btn-info">View Details &raquo;</button>

              <div class="sidebar-product-price">
                <span class="product-price">
                  $35.33
                </span>
                <span class="priceblock-line-through">
                  $99.99
                </span>
                </div>
              <span class="list-ending-in">1 day, 3 hours, 4 min</span>
            </div>
                  
        </div><!--prod listing block-->
      
      </div><!--row fluid-->      <div class="row-fluid">
        <div class="span12 productlisting">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/180x80.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Insert name of product</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
            </div>
          </div>
            <div class="metadata">
              <button class="btn btn-medium btn-info">View Details &raquo;</button>

              <div class="sidebar-product-price">
                <span class="product-price">
                  $35.33
                </span>
                <span class="priceblock-line-through">
                  $99.99
                </span>
                </div>
              <span class="list-ending-in">1 day, 3 hours, 4 min</span>
            </div>
                  
        </div><!--prod listing block-->
      
      </div><!--row fluid-->      <div class="row-fluid">
        <div class="span12 productlisting">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/180x80.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Insert name of product</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
            </div>
          </div>
            <div class="metadata">
              <button class="btn btn-medium btn-info">View Details &raquo;</button>

              <div class="sidebar-product-price">
                <span class="product-price">
                  $35.33
                </span>
                <span class="priceblock-line-through">
                  $99.99
                </span>
                </div>
              <span class="list-ending-in">1 day, 3 hours, 4 min</span>
            </div>
                  
        </div><!--prod listing block-->
      
      </div><!--row fluid-->

      <div class="row-fluid">
        <div class="span12 productlisting">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/64x64.png">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
            </div>
          </div>
        </div>
      </div>




      </div><!--row-->

      <hr>
